FIREBASE_PROJECT_ID=replace-with-project-id
FIREBASE_MESSAGING_SENDER_ID=replace-with-sender-id
FIREBASE_APP_ID=replace-with-app-id
FIREBASE_MEASUREMENT_ID=replace-with-measurement-id
FIREBASE_STORAGE_BUCKET=replace-with-storage-bucket
FIREBASE_AUTH_DOMAIN=replace-with-auth-domain
ENVIRONMENT=development
